@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    min-height: 100vh;
}

canvas {
    border: 1px solid #111;
}
